---
import LayoutSidebar from '../../../../app/LayoutFull.astro';
import Spinner from '../../../../component/Spinner.astro'
import Pagination from "../../../../component/Pagination.astro";
import Sorting from "../../../../component/Sorting.astro";
import Breadcrumb from '../../../../component/Breadcrumb.astro';
import TableSkeleton from '../../../../component/TableSkeleton.astro';
import FilterCheckbox from "../../../../component/FilterCheckbox.astro";
import FilterSearch from '../../../../component/FilterSearch.astro';
import FilterSelect from '../../../../component/FilterSelect.astro';
import FilterDate from '../../../../component/FilterDate.astro';
const { accessCodes } = Astro.locals;
const hasManage = accessCodes?.includes('001.02.14.01');
---
<LayoutSidebar active="myAds">
	<div x-data x-transition x-init="
			$store.myAds.onReset(); 
			$store.myAds.getAdTypes(); 
			$store.myAds.getPriceTypes(); 
			$store.myAds.getCategories(); 
			$store.myAds.getServices();
		">
		<Breadcrumb list={[{ name: "Management", link: "management" },{ name: "My Ads", link: "" }]}>
			<div class="flex flex-row gap-3">
				<Sorting storeName="myAds" columns="columns" />
				<button class="btn-icon white lg" x-on:click="$store.myAds.onInit(window.location)"><i class="fas fa-sync-alt"></i></button>
				<a class="btn-icon active lg" href="/management/market/createAd" title="Create Ad"><i class="fas fa-plus"></i></a>
			</div>
		</Breadcrumb>
		<div class="table-responsive paper">
			<table class="table border strip">
				<thead>
					<tr>
						<th x-show={`${hasManage}`}>Action</th>
						<th>Active</th>
						<th>Featured</th>
						<th>Ad Title</th>
						<th>Ad Types</th>
						<th>Categories</th>
						<th>SubCategories</th>
						<th>Services</th>
						<th>SubServices</th>
						<th>UpdatedAt</th>
					</tr>
					<tr>
						<th x-show={`${hasManage}`}></th>
						<th><FilterCheckbox storeName="myAds" column="is_active"/></th>
						<th><FilterCheckbox storeName="myAds" column="is_featured"/></th>
						<th><FilterSearch storeName="myAds" ref="updateName" column="name" placeholder="Name"/></th>
						<th><FilterSelect storeName="myAds" column="ad_type_id" list="ad_types"/></th>
						<th><FilterSelect storeName="myAds" column="category_id" list="categories"/></th>
						<th></th>
						<th><FilterSelect storeName="myAds" column="service_id" list="services"/></th>
						<th></th>
						<th><FilterDate name="updated_at" /></th>
					</tr>
				</thead>
				<tbody x-show="$store.myAds.isInitital" class="animate-pulse">
					<TableSkeleton columns={9} />
				</tbody>
				<tbody x-show="$store.myAds.items.length > 0">
					<template x-for="r in $store.myAds.items" :key="r.id">
						<tr>
							<td x-show={`${hasManage}`} class="flex flex-row gap-2 justify-center">
								<a class="btn-icon" href="/management/market/createAd" title="Edit"><i class="fas fa-edit"></i></a>
								<button class="btn-icon" x-on:click="$store.myAds.onDelete(r)" title="Delete"><i class="fas fa-times"></i></button>
							</td>
							<td class="text-center" x-html="r.is_active ? '&#10004;' : '&#10008;'"></td>
							<td class="text-center" x-html="r.is_featured ? '&#10004;' : '&#10008;'"></td>
							<td x-text="r.name"></td>
							<td x-text="r.ad_type_name"></td>
							<td x-text="r.category_name"></td>
							<td x-text="r.subcategory_name"></td>
							<td x-text="r.service_name"></td>
							<td x-text="r.subservice_name"></td>
							<td x-text="r.updated_at"></td>
						</tr> 
					</template>    
				</tbody>
			</table>
		</div>
		<div class="spacer"></div>
		<Pagination storeName="myAds" />
		<Spinner storeName="myAds" />
	</div>
</LayoutSidebar>
