---
import LayoutFull from '../../app/Layout.astro';
---
<LayoutFull>
	<div class="max-w-md mx-auto mt-1 card">
		<div class="title text-center">Forgot Your Password?</div>
		<div class="divider my-5"></div>
		<form id="forgot-password-form" @submit.prevent="$store.forgotPassword.onSubmit()" class="flex flex-col gap-4">
			<div class="input-icon">
				<i class="fas fa-envelope gray icon left-4"></i>
				<input 
					id="email" 
					name="email"
					type="text"  
					x-model="$store.forgotPassword.email" 
					class="input w-full" 
					placeholder="name@email.com"
				/>
			</div>
			<div class="flex items-center justify-between">
				<label for="remember" class="text">Type your registered email to get a temporary password in your email.</label>
			</div>
			<button type="submit" class="btn-primary full">Submit</button>
		</form>
		<div class="divider my-5"></div>
		<div class="flex flex-col sm:flex-row justify-center items-center gap-1">
			<p class="text text-center pr-2">Go back to</p>
			<a href="/authentication/signin" class="link active">Login</a>
		</div>
	</div>
</LayoutFull>
