---
import LayoutFull from '../../app/Layout.astro';
import Spinner from '../../component/Spinner.astro';
---
<LayoutFull>
	<div class="container" x-data>
		<div class="max-w-md mx-auto my-5 sm:my-7 card">
			<div class="title text-center">Reset your password</div>
			<div class="divider my-5"></div>
			<div id="error-message" class="text-center text-red-500 text-sm"></div>
			<form id="login-form" @submit.prevent="$store.resetPassword.onSubmit()" class="flex flex-col gap-4">
				<div class="input-icon">
					<i class="fas fa-key lightgray left-4"></i>
					<input 
						id="password" 
						name="password"
						:type=" $store.resetPassword.showPassword ? 'text': 'password'" 
						x-model="$store.resetPassword.password" 
						class="input w-full" 
						placeholder="Your new password" 
						required
					/>
					<button type="button" @click="$store.resetPassword.showPassword = !$store.resetPassword.showPassword" class="absolute top-0 right-7">
						<div x-show="$store.resetPassword.showPassword"><i class="fas fa-eye lightgray"></i></div>
						<div x-show="!$store.resetPassword.showPassword"><i class="fas fa-eye-slash lightgray"></i></div>
					</button>
				</div>
				<button type="submit" class="btn-primary full">Reset</button>
			</form>
		</div>
		<Spinner storeName="resetPassword" />
	</div>
</LayoutFull>
