---
import LayoutFull from '../../app/Layout.astro';
---
<LayoutFull>
	<div class="max-w-md mx-auto card mt-2">
		<div class="title text-2xl text-center text-primary">Login</div>
		<div class="divider my-5"></div>
		<div id="error-message" class="text-center text-red-500 text-sm"></div>
		<form id="login-form" @submit.prevent="$store.signin.onSubmit()" class="flex flex-col gap-4">
			<div class="input-icon">
				<i class="fas fa-envelope lightgray left-4 icon"></i>
				<input 
					id="email" 
					name="email"
					type="text"  
					x-model="$store.signin.email" 
					class="input w-full" 
					placeholder="name@email.com"
				/>
			</div>
			<div class="input-icon" x-data="{ loginShow: false }">
				<i class="fas fa-key lightgray left-4 icon"></i>
				<button type="button" @click="loginShow = !loginShow" class="absolute top-2.5 right-4 text gray">
					<i x-show="loginShow" class="far fa-eye" style="display: none;"></i>
					<i x-show="!loginShow" class="far fa-eye" ></i>
				</button>
				<input 
					x-model="$store.signin.password"
					:type=" loginShow ? 'text': 'password' " 
					class="input w-full" 
					name="password" 
					id="password" 
					placeholder="Your Password" 
				/>
			</div>				
			<div class="flex items-center justify-between">
				<div class="flex flex-row gap-2 items-center">
					<input id="remember" aria-describedby="remember" type="checkbox" class="checkbox"/>
					<label for="remember" class="text">Remember me</label>
				</div>
				<a href="/authentication/forgot-password" class="link text-sm active" >Forgot password?</a>
			</div>
			<button type="submit" class="btn-primary full">Sign in</button>
		</form>
		<div class="divider my-5"></div>
		<div class="flex flex-col sm:flex-row justify-center items-center gap-1">
			<p class="text text-center pr-2">Don’t have an account yet?</p>
			<a href="/authentication/signup" class="link active">Register</a>
		</div>
	</div>
</LayoutFull>
