---
import LayoutFull from '../../app/Layout.astro';
---
<LayoutFull>
  <div 
    class="max-w-md mx-auto mt-1 card"
    x-init="$store.updatePassword.onInit()"
  >
    <div class="title text-center">Update Password</div>
    <div class="divider my-5"></div>
    <form @submit.prevent="$store.updatePassword.onSubmit()" class="flex flex-col gap-4">
      <div class="input-icon">
        <i class="fas fa-lock gray icon left-4"></i>
        <input 
          type="password"
          placeholder="Enter new password"
          class="input w-full"
          x-model="$store.updatePassword.password"
          required
        />
      </div>
      <button type="submit" class="btn-primary full">Update Password</button>
    </form>
    <div class="divider my-5"></div>
    <div class="flex flex-col sm:flex-row justify-center items-center gap-1">
      <p class="text text-center pr-2">Go back to</p>
      <a href="/authentication/signin" class="link active">Login</a>
    </div>
  </div>
</LayoutFull>
