---
import LayoutSidebar from "../../../../app/LayoutFull.astro";
import Breadcrumb from "../../../../component/Breadcrumb.astro";
---
<LayoutSidebar active="createAd">
	<div x-data x-transition x-init="
		$store.createAd.onReset(); 
		$store.createAd.getAdTypes(); 
		$store.createAd.getPriceTypes(); 
		$store.createAd.getCategories(); 
		$store.createAd.getServices();
		$store.createAd.getStores();
	">
		<Breadcrumb list={[{ name: "management", link: "management" },{ name: 'Create Ad', link: '' }]} >
			<div class="text">Remaining Ad Limit: (2 of 5)</div>
		</Breadcrumb>
		<form @submit.prevent="$store.createAd.onSave()" class="card">
			<div class="flex flex-col gap-4">
				<div class="w-full sm:w-1/2">
					<label for="ad_type_id" class="label" >Ad Type</label>
					<select x-model="$store.createAd.item.ad_types" class="input w-full mt-1">
						<option value="">Select Type</option>
						<template x-for="item in $store.createAd.ad_types">
							<option :value="item.id" x-text="item.name"></option>
						</template>
					</select>
				</div>
				<div class="flex flex-col sm:flex-row gap-4">
					<div class="w-full">
						<label for="category_id" class="label" >Categories</label>
						<select x-model="$store.createAd.item.categories" class="input w-full mt-1">
							<option value="">Select Category</option>
							<template x-for="item in $store.createAd.categories">
								<option :value="item.id" x-text="item.name"></option>
							</template>
						</select>
					</div>
					<div class="w-full">
						<label for="subcategory_id" class="label" >Sub Categories</label>
						<select x-model="$store.createAd.item.subcategories" class="input w-full mt-1">
							<option value="">Select Sub Category</option>
							<template x-for="item in $store.createAd.subcategories">
								<option :value="item.id" x-text="item.name"></option>
							</template>
						</select>
					</div>
				</div>
				<div class="flex flex-col sm:flex-row gap-4">
					<div class="w-full">
						<label for="service_id" class="label" >Servcies</label>
						<select x-model="$store.createAd.item.services" class="input w-full mt-1">
							<option value="">Select Servcie</option>
							<template x-for="item in $store.createAd.services">
								<option :value="item.id" x-text="item.name"></option>
							</template>
						</select>
					</div>
					<div class="w-full">
						<label for="subservice_id" class="label" >Sub Services</label>
						<select x-model="$store.createAd.item.subservices" class="input w-full mt-1">
							<option value="">Select Sub Service</option>
							<template x-for="item in $store.createAd.subservices">
								<option :value="item.id" x-text="item.name"></option>
							</template>
						</select>
					</div>
				</div>
		
				<div class="flex flex-col sm:flex-row gap-4">
					<div class="w-full">
						<label for="price_type_id" class="label" >Price Types</label>
						<select x-model="$store.createAd.item.price_types" class="input w-full mt-1">
							<option value="">Select Type</option>
							<template x-for="item in $store.createAd.price_types">
								<option :value="item.id" x-text="item.name"></option>
							</template>
						</select>
					</div>
					<div class="w-full">
						<label for="price" class="label" >Price</label>
						<input type="text" id="price" name="price" x-model="$store.createAd.item.price" class="input w-full mt-1" placeholder="Price">
					</div>
				</div>
		
				<div class="w-full">
					<label for="name" class="label">Ad Title</label>
					<input type="text" id="name" name="name" x-model="$store.createAd.item.name" class="input w-full mt-1" placeholder="Title" required>
				</div>
		
				<div class="w-full">
					<div class="flex justify-between items-center gap-2 mb-2">
						<div class="flex flex-row items-center gap-2">
							<div class="label">Features</div>
							<div class="txt gray">(Features Limit: 0)</div>
						</div>
						<button class="btn-icon active"><i class="fas fa-plus"></i></button>
					</div>
					<div class="flex flex-col gap-4">
						<div class="input-group">
							<input type="text" name="features" class="input w-full first" placeholder="Ad Features" minlength="5" maxlength="50"/>
							<button class="btn btn-default last" type="button"><i class="fas fa-times"></i></button>
						</div>
					</div>
				</div>
		
				<div class="w-full">
					<label for="description" class="label">Description</label>
					<textarea id="description" name="description" x-model="$store.createAd.item.description" class="input w-full mt-1" placeholder="Description"></textarea>
				</div>
		
				<div class="w-full">
					<div class="flex justify-between items-center gap-2 mb-2">
						<div class="flex flex-row items-center gap-2">
							<div class="label">Images</div>
							<div class="txt gray">(Images Limit: 0)</div>
						</div>
						<button class="btn-icon active"><i class="fas fa-plus"></i></button>
					</div>
					<div class="flex flex-col gap-4">
						<div class="input-group">
							<input type="file" name="images" class="input w-full first"/>
							<button class="btn btn-default last" type="button"><i class="fas fa-times"></i></button>
						</div>
					</div>
				</div>
			</div>
			<div class="divider my-4"></div>
			<div class="flex flex-col md:flex-row justify-center md:justify-between gap-4 items-center">
				<div class="flex flex-col sm:flex-row justify-center sm:justify-between items-center gap-4">
					<div class="flex flex-row items-center gap-4">
						<div class="paper rounded-full py-2 px-3 flex flex-row gap-2 items-center">
							<input id="is_active" name="is_active" x-model="$store.createAd.item.is_active" type="checkbox" class="checkbox" />
							<label for="is_active" class="label cursor-pointer">Active</label>
						</div>
						<div class="paper rounded-full py-2 px-3 flex flex-row gap-2 items-center">
							<input id="is_featured" name="is_featured" x-model="$store.createAd.item.is_featured" type="checkbox" class="checkbox" />
							<label for="is_featured" class="label cursor-pointer">Featured</label>
						</div>
					</div>
					<div class="paper rounded-full py-2 px-3 flex flex-row items-center gap-2">
						<input type="checkbox" id="accept" class="checkbox" required />
						<label for="accept" class="label flex items-center cursor-pointer">I accept the</label>
						<a class="link cursor-pointer text-sm italic" >Terms and Conditions</a>
					</div>
				</div>
				<div class="flex flex-row gap-4">
					<a href="" class="btn-default">View Ad</a>
					<button type="submit" class="btn-primary">Save</button>
				</div>
			</div>
		</form>
	</div>
</LayoutSidebar>