---
const {item, hasManage} = Astro.props;
---
<div class="table-responsive paper">
    <table class="table strip">
        <tbody>
            <template x-for="(r, idx) in $store.results.item" :key="idx">
                <tr>					
                    <td class="w-full">
                        <p class="mb-2 text-lg font-semibold text-gray-900" x-text="`${idx + 1}. ${r.question}`"></p>
                        <ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside">
                            <template x-for="(option, index) in r.options">
                                <li 
                                    x-text="option"
                                    :class=`{
                                        'font-bold text-green-600': index === r.correct_answer,
                                        'font-bold text-red-600': index === r.user_answer && !r.is_correct
                                    }`
                                ></li>
                            </template>
                        </ol>
                        <div class="mt-2">
                            <b>Explanation:</b>
                            <i class=" text-pretty" x-text="r.explanation"></i>
                        </div>
                    </td>
                </tr> 
            </template>    
        </tbody>
    </table>
</div>