---
import LayoutFull from "../app/Layout.astro";
---
<LayoutFull active="about">
	<div class="text-center">
		<div class="title text-2xl mb-1">Welcome to Quiz.Institute</div>
		<div class="text gray">Building bridges between Customers, Sellers and Service Providers</div>
		<div class="divider mt-3"></div>
	</div>
	<div class="spacer h-10"></div>
	<div class="text text-center">
		Welcome to Quiz.Institute, your premier destination for connecting buyers and sellers in an ever growing online marketplace. Our platform is designed to facilitate seamless transactions by allowing users to post classified ads for a wide range of products and services, making it easier than ever for customers to find exactly what they need.<br>
		At Quiz.Institute, we believe in creating a dynamic and user friendly environment where vendors can showcase their offerings to a broad audience, and buyers can explore a diverse selection of items and services. Our commitment to excellence is reflected in our easy to navigate interface, robust search functionality, and dedicated customer support.
		Whether you are a business looking to expand your reach or an individual with something to sell, Quiz.Institute provides the perfect platform to connect you with potential buyers. Our mission is to bridge the gap between sellers and customers, fostering a community where trust and transparency are paramount.<br>
		Join us today and experience the convenience and efficiency of Quiz.Institute where your next great find or sale is just a click away.
	</div>		
	<div class="spacer h-10 md:h-20"></div>
	<div class="text-center">
		<div class="title mb-1">Our Vision & Mission</div>
		<div class="text gray">Join Free and Grow your Business Network.</div>
		<div class="divider-primary w-40 mt-3"></div>
	</div>
	<div class="spacer h-10"></div>
	<div class="flex flex-col md:flex-row gap-5 lg:gap-7 text-center">
		<div class="card flex flex-col gap-2">
			<i class="fas fa-handshake text-2xl text-gray-400"></i>
			<div class="title font-semibold text-primary">Commitment</div>
			<div class="text text-gray-500">We are fully committed to investing all our talents and experience to reach results.</div>
		</div>
		<div class="card flex flex-col gap-2">
			<i class="fas fa-users text-2xl text-gray-400"></i>
			<div class="title font-semibold text-primary">Team Work</div>
			<div class="text text-gray-500">We focus on working together as a professional team to achieve our common goals.</div>
		</div>
		<div class="card flex flex-col gap-2">
			<i class="fas fa-anchor text-2xl text-gray-400"></i>
			<div class="title font-semibold text-primary">Excellence</div>
			<div class="text text-gray-500">A team of experts with profound knowledge and experience to provide excellence.</div>
		</div>
		<div class="card flex flex-col gap-2">
			<i class="fas fa-thumbs-up text-2xl text-gray-400"></i>
			<div class="title font-semibold text-primary">Quality</div>
			<div class="text text-gray-500">We believe in providing our customers with the best quality merchandise and services.</div>
		</div>
	</div>
</LayoutFull>