---
import Layout from "../app/Layout.astro";
const courseId = Astro.url.searchParams.get('courseId');
---
<Layout active="courses">
    <div x-init={`$store.courseSingle.getCourse('${courseId}')`}>
        <div class="card flex flex-col gap-2">
            <div class="title" x-text="$store.courseSingle.item.name"></div>
            <div class="text" x-text="$store.courseSingle.item.duration"></div>
            <div class="text" x-text="$store.courseSingle.item.course_fees"></div>
            <div class="text" x-text="$store.courseSingle.item.exam_fees"></div>
            <div class="text" x-text="$store.courseSingle.item.detail"></div>
        </div>
    </div>
</Layout>