---
import LayoutFull from "../app/Layout.astro";
---
<LayoutFull active="faqs">
    <div class="flex flex-col">
        <div class="flex flex-col justify-center items-center gap-3">
            <div class="title text-primary-600 text-xl text-center">
                <i class="fas fa-hands-helping mr-2"></i>
                SLT Insitiute Help Center
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="divider"></div>
    <div class="spacer"></div>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5 lg:gap-7">
        <div class="card col-span-1 hidden md:block">
            <div class="flex flex-row justify-between items-center">
                <div class="title">Topics</div>
            </div>
            <div class="spacer"></div>
            <ul>
                <template x-for="i in $store.faq.items" :key="i.id">
                    <li class="relative">
                        <button
                            type="button"
                            class="dropdown-link rounded-lg"
                            :class="$store.faq.item.id === i.id ? 'active' : ''"
                            @click="$store.faq.onItemChange(i.id)"
                            x-text="i.name"
                        >
                        </button>
                    </li>
                </template>
            </ul>
        </div>
        <div class="col-span-1 md:col-span-2 lg:col-span-3">
            <div class="flex flex-col md:flex-row md:justify-between justify-center items-center gap-3">
                <div class="title">Questions & Answers</div>
                <div class="flex flex-row w-fit paper rounded-full items-center md:hidden">
                    <div class="text gray ml-3 mr-2">Topics</div>
                    <select
                        name="topics"
                        id="topics"
                        class="input white"
                        @change="$store.faq.onItemChange(Number($el.value))">
                        <template x-for="i in $store.faq.items" :key="i.id">
                            <option :value="i.id" x-text="i.name"></option>
                        </template>
                    </select>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="relative">
                <ul id="list">
                    <template x-for="f in $store.faq.item.faqs" :key="f.question">
                        <li>
                            <div class="mb-2" x-data="{ activeAccordion: '', setActiveAccordion(id) {this.activeAccordion = (this.activeAccordion == id) ? '' : id} }">
                                <div class="text w-full" x-data="{ id: $id('accordion') }">
                                    <button
                                        class="accordian-btn"
                                        @click="setActiveAccordion(id)"
                                        :class="{'active': activeAccordion === id}"
                                        x-transition.opacity>
                                        <div class="flex flex-row items-center justify-between">
                                            <div class="label" x-text="f.question"></div>
                                            <i class="fas fa-plus text-gray-400" :class="{'rotate45 text': activeAccordion === id}"></i>
                                        </div>
                                    </button>
                                    <div
                                        class="accordian-body"
                                        x-show="activeAccordion === id"
                                        x-cloak
                                        style="text-align: left;"
                                        x-text="f.answer">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>
</LayoutFull>
