---
import LayoutFull from "../app/Layout.astro";
---
<LayoutFull active="home">
	<!-- banner -->
	<div class="card text-center mt-2 mb-7">
		<div class="spacer my-5"></div>
		<p class="mb-1 font-light title">The best platform to test and improve your skills across various domains.</p>
		<div class="mb-4 font-semibold text-2xl title text-primary">Empowering Minds, One Quiz at a Time</div>
		<div class="max-w-md mx-auto">					
			<form class="input-group">
				<div class="input-icon relative">
					<i class="fas fa-search left-4 icon"></i>
					<input type="search" name="search" class="input w-full white first" placeholder="Search Anything"/>
				</div>
				<button type="submit" class="btn-primary last">Search</button>
			</form>
		</div>
		<div class="spacer my-5"></div>
	</div>
	<!-- Platforms -->
	<div x-data="{ tab: 'tab1' }" class="mb-7">
		<ul class="max-w-2xl mx-auto grid grid-cols-2 text-center gray border-b title">
			<li class="w-full">
				<a @click.prevent="tab = 'tab1'" href="#" class="inline-block py-3 border-b-2 w-full border-transaprent" 
				:class="{ 'text-primary-600 border-primary-600' : tab === 'tab1' }">Academy</a>
			</li>
			<li class="w-full">
				<a @click.prevent="tab = 'tab2'" href="#" class="inline-block py-3 border-b-2 w-full border-transaprent" 
				:class="{ 'text-primary-600 border-primary-600' : tab === 'tab2' }">Professional Skill</a>
			</li>
		</ul>
		<div class="mt-6">
			<div x-show="tab ==='tab1'" style="display: none;">
				<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
					<template x-for="i in $store.home.academy" :key="i.id">
						<div class="flex justify-center">
							<div class="card flex flex-col items-center text-center w-full p-4 bg-white shadow-md rounded-lg">
								<i :class="`fas ${i.icon} text-3xl text-gray-600 mb-3`"></i>
								<div class="font-semibold text-lg" x-text="i.name"></div>
								<div class="text-gray-600 text-sm mt-1" x-text="i.description"></div>
							</div>
						</div>
					</template>
				</div>
				
			</div>
			<div x-show="tab==='tab2'" style="">
				<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
					<template x-for="i in $store.home.professionalSkills" :key="i.id">
						<div class="flex justify-center">
							<div class="card flex flex-col items-center text-center w-full p-4 bg-white shadow-md rounded-lg">
								<i :class="`fas ${i.icon} text-3xl text-gray-600 mb-3`"></i>
								<div class="font-semibold text-lg" x-text="i.name"></div>
								<div class="text-gray-600 text-sm mt-1" x-text="i.description"></div>
							</div>
						</div>
					</template>
				</div>				
			</div>
		</div>
	</div>
	<!-- Platforms -->
	
	<!-- steps -->
	<div class="mb-5">
		<div class="flex justify-between items-center mb-5">
			<div class="title">How it Works?</div>
		</div>
		<div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-5 lg:gap-7 text-center">
			<div class="card flex flex-col">
				<i class="fas fa-registered text-3xl title gray"></i>
				<div class="title text-primary mt-2 mb-1">Free Registration</div>
				<div class="text gray">Signing up is quick, easy, and completely free. Start your journey in seconds.</div>
			</div>
			<div class="card flex flex-col">
				<i class="fas fa-store text-3xl title gray"></i>
				<div class="title text-primary mt-2 mb-1">Choose a Platform</div>
				<div class="text gray">Select from a wide range of topics, including academic, professional, and skill-based exams.</div>
			</div>
			<div class="card flex flex-col">
				<i class="fas fa-regular fa-rectangle-list text-3xl title gray"></i>
				<div class="title text-primary mt-2 mb-1">Take Tests</div>
				<div class="text gray">Practice with real-time questions and get instant feedback to improve your knowledge.</div>
			</div>
			<div class="card flex flex-col">
				<i class="fas fa-solid fa-chart-column text-3xl title gray"></i>
				<div class="title text-primary mt-2 mb-1">Get Results & Improve</div>
				<div class="text gray">Review your performance, track progress, and enhance your skills for success.</div>
			</div>
		</div>
	</div>
</LayoutFull>