---
import Layout from '../layouts/Layout.astro';
import { actions } from 'astro:actions';

const result: any = await Astro.callAction(actions.platforms, {});
---

<Layout>
	<h1 class="text-2xl">Welcome to Quiz Application</h1>
	<p class="text-red-500">A platform for explore your skills.</p>
	<ul>
		{
			result.data.map((x: any) => <li>{x.name}</li>)
		}
	</ul>
</Layout>
