---
import Layout from "../app/Layout.astro";
import ActionButton from "../component/ActionButton.astro";
import Pagination from "../component/Pagination.astro";
---
<Layout active="notifications">
	<div class="flex flex-col sm:flex-row justify-between items-center gap-3">
		<div class="title"><i class="fas fa-bell mr-2"></i>Notifications (<span x-text="$store.notifications.total"></span>)</div>
		<div class="flex justify-between items-center gap-3">
			<button class="btn-default white" x-on:click="">Read All</button>
			<button class="btn-default white" x-on:click="">Delete All</button>
			<a href="/settings" class="btn-icon white lg"><i class="fas fa-cog"></i></a>
		</div>
	</div>
	<div class="spacer"></div>
	<div class="flex flex-col gap-2">
		<template x-for="r in $store.notifications.items" :key="r.id">
			<div class="flex flex-row justify-between items-center paper px-3 py-2 rounded-xl">
				<div class="flex flex-row gap-3 items-center">
					<div class="w-8 h-8 border rounded-full flex justify-center items-center">
						<i class="fas fa-bell text gray"></i>
					</div>
					<div class="flex flex-col gap-0">
						<div class="label" x-text="r.message"></div>
						<div class="txt gray" x-text="r.created_at"></div>
					</div>
				</div>
				<div class="flex flex-row gap-3">
					<ActionButton position="top" show={`r.showAction`} 
						actions={[
							{ label: 'Read', click: `$store.notifications.onEdit(r)`, show: true },
							{ label: 'Delete', click: `$store.notifications.onDelete(r)`, show: true },
						]} 
					/>
				</div>
			</div>
		</template>
	</div>
	<div class="spacer"></div>
	<Pagination storeName="notifications" />
</Layout>