---
import LayoutFull from "../app/Layout.astro";
import Search from "../component/Search.astro";
import Pagination from "../component/Pagination.astro";
import Sorting from "../component/Sorting.astro";
---
<LayoutFull active="platforms">
	<div class="flex flex-col sm:flex-row justify-between items-center gap-3">
		<div class="title"><i class="fas fa-list mr-2"></i> Platforms (<span x-text="$store.platforms.total"></span>)</div>
		<div class="flex flex-row gap-3">
			<Search storeName="platforms" ref="searchName" method="search" column="name" placeholder="Search"/>
			<Sorting storeName="platforms" columns="publicColumns" />
		</div>
	</div>
	<div class="spacer"></div>
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
		<template x-for="i in $store.platforms.items" :key="i.id">
			<div class="flex justify-center">
				<div class="card flex flex-col items-center text-center w-full p-4 bg-white shadow-md rounded-lg">
					<i :class="`fas ${i.icon} text-3xl text-gray-600 mb-3`"></i>
					<div class="font-semibold text-lg" x-text="i.name"></div>
					<div class="text-gray-600 text-sm mt-1" x-text="i.description"></div>
				</div>
			</div>
		</template>
	</div>
	<div class="spacer"></div>
	<Pagination storeName="platforms" />
</LayoutFull>
