---
import LayoutFull from "../app/Layout.astro";
import Search from "../component/Search.astro";
import Pagination from "../component/Pagination.astro";
import Sorting from "../component/Sorting.astro";
import PhotoCard from "../component/PhotoCard.astro";
const name = Astro.url.searchParams.get('name');
---
<LayoutFull active="subcategories">
	<div class="flex flex-col sm:flex-row justify-between items-center gap-3">
		<div class="title"><i class="fas fa-layer-group mr-2"></i> {name} (<span x-text="$store.subcategories.total"></span>)</div>
		<div class="flex flex-col sm:flex-row gap-3">
			<Search storeName="subcategories" ref="searchName" method="search" column="name" placeholder="Search"/>
			<div class="flex flex-row gap-3">
				<Sorting storeName="subcategories" columns="publicColumns" />
			</div>
		</div>
	</div>
	<div class="spacer"></div>
	<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-5 lg:gap-7">
		<template x-for="i in $store.subcategories.items" :key="i.id">
			<PhotoCard 
				name="i.name"
				url="`/ads?subcategoryId=${i.id}`" 
				image="i.image ? `${source}${i.image}` : blank"
				count="i.counts"
				folder="subcategories"
			/>
		</template>
	</div>
	<div class="spacer"></div>
	<Pagination storeName="subcategories" />
</LayoutFull>
