---
import LayoutFull from "../app/Layout.astro";
import Pagination from "../component/Pagination.astro";
import Sorting from "../component/Sorting.astro";
import FilterSearch from "../component/FilterSearch.astro";
---
<LayoutFull active="subjects">
	<div class="flex flex-col sm:flex-row justify-between items-center gap-3">
		<div class="title"><i class="fas fa-list mr-2"></i> Subjects (<span x-text="$store.subjects.total"></span>)</div>
		<div class="flex flex-row gap-3">
			<select 
				class="input w-full"
				:value="$store.subjects.filters.platform_id"
				@change="$store.subjects.onColumnListChange('platform_id', Number($el.value))">
				<option value="">All Platforms</option>
				<template x-for="i in $store.subjects.column.platforms">
					<option :value="i.id" x-text="i.name" :selected="i.id === $store.subjects.filters.platform_id"></option>
				</template>
			</select>
			<Sorting storeName="subjects" columns="publicColumns" />
		</div>
	</div>
	<div class="spacer"></div>
	<div class="table-responsive paper">
		<table class="table border strip">
			<thead>
				<tr>
					<th></th>
					<th class="w-full">Name</th>
					<th>Topics</th>
				</tr>
				<tr>
					<td></td>
					<td><FilterSearch storeName="subjects" ref="searchName" method="search" column="name" placeholder="Name"/></td>
					<td></td>
				</tr>
			</thead>
			<tbody x-show="$store.subjects.items.length > 0">
				<template x-for="r in $store.subjects.items" :key="r.id">
					<tr>
						<td><a :href="`/topics?platformId=${r.platform_id}&subjectId=${r.id}`"><i class={`fas fa-eye text-2xl text-gray-600`}></i></a></td>
						<td x-text="r.name"></td>
						<td x-text="r.topics_count" class="text-center"></td>
					</tr> 
				</template>    
			</tbody>
		</table>
	</div>
	<div class="spacer"></div>
	<Pagination storeName="subjects" />
</LayoutFull>
