---
import FooterCTA from '../component/FooterCTA.astro';
import NavBar from './NavBar.astro';
import Footer from './Footer.astro';
import Base from './Base.astro';
const {active} = Astro.props;
---
<Base>
	<NavBar active={active} style="container" />
	<div class="container py-5">
		<slot />
		<FooterCTA/>
		<Footer active={active} />
	</div>
</Base>
