---
const {item, hasManage} = Astro.props;
---
<form @submit.prevent="$store.subjects.onSave();document.getElementById('file').value = '';">
    <div class="flex flex-col gap-3">
        <div>
            <label for="name" class="label">Name</label>
            <input type="text" id="name" name="name" x-model="$store.subjects.item.name" class="input w-full mt-1" placeholder="Type name" required>
        </div>
        <div>
            <label class="label">Platform</label>
            <select 
                class="input w-full mt-1" 
                :value={`$store.subjects.item.platform_id`}
                @change="$store.subjects.onFormListChange('platform_id', $el.value)">
                <option value=""></option>
                <template x-for={`i in $store.subjects.form.platforms`}>
                    <option :value="i.id" x-text="i.name"></option>
                </template>
            </select>
        </div>
        <div class="flex flex-row gap-2 items-center">
            <input id="is_active" name="is_active" x-model="$store.subjects.item.is_active" type="checkbox" class="checkbox" class="checkbox" />
            <label for="is_active" class="text">Active</label>
        </div>
    </div>
    <div class="divider my-4"></div>
    <div class="flex flex-row justify-between gap-4">
        <button type="button" @click="$store.subjects.showDrawer = false" class="btn-default">Cancel</button>
        { hasManage && <button type="submit" class="btn-primary" x-text={`${item}.id ? 'Update' : 'Create'`}></button>}
    </div>
</form>