---
const { columns } = Astro.props;
export const partial = true;
---
{
    Array.from({ length: 1 }, (_, index) => index + 1).map(() => (
    <tr>
        <td class="flex justify-center gap-2">
            <button aria-label="Action Button" class="btn-icon"></button>
        </td>
        {
            Array.from({ length: columns }, (_, index) => index + 1).map(() => (
                <td class="text-center">
                    <div class="h-3 bg-gray-200 rounded-full w-full my-2"></div>
                </td>
            ))
        }
    </tr> 
    ))
}