<div style="display: none;" x-show="$store.toast.visible" x-transition.opacity.duration.300ms
     class="flex items-center w-full max-w-xs p-4 mb-4 rounded-lg shadow fixed top-4 right-4 z-50"
     :class="$store.toast.color" role="alert">
    <div class="flex items-center justify-center flex-shrink-0 w-8 h-8">
        <i :class="`fa-solid ${$store.toast.iconClass}`"></i>
        <span class="sr-only" x-text="$store.toast.type + ' icon'"></span>
    </div>
    <div class="ml-3 text-sm font-normal" x-text="$store.toast.message"></div>
    <button @click="$store.toast.hide()" class="ml-auto text-lg">
        <i class="fa-solid fa-xmark"></i>
        <span class="sr-only">Close</span>
    </button>
</div>
