---
export const partial = true;
---
<div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-2.5 ml-10"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-60 mb-2.5 ml-10"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-24 mb-2.5 ml-10"></div>
<div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-2.5 ml-10"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-60 mb-2.5 ml-10"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-24 mb-2.5 ml-10"></div>
<div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-2.5 ml-10"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-60 mb-2.5 ml-10"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-24 mb-2.5 ml-10"></div>
<div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-2.5 ml-10"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-60 mb-2.5 ml-10"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-24 mb-2.5 ml-10"></div>
<div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-2.5 ml-10"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-60 mb-2.5 ml-10"></div>
<div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-24 mb-2.5 ml-10"></div>
<span class="sr-only">Loading...</span>