---
import Avatar from "../../../../component/Avatar.astro";
const {item, hasManage} = Astro.props;
---
<form @submit.prevent="$store.stores.onSave();document.getElementById('file').value = '';">
    <div class="flex flex-col gap-3" >
        <Avatar
            id="formImage" 
            name="$store.stores.item.name" 
            image="$store.stores.item.image ? `${source}${$store.stores.item.image}` : blank" 
            folder="stores" 
            style="xl rounded-lg"
        />
        <div>
            <label for="file" class="label">Image</label>
            <input type="file" id="file" name="file" class="input w-full mt-1" placeholder="Image File" 
            @change=`
                formImage.src = window.URL.createObjectURL($event.target.files[0]);
                $store.stores.onFormListChange('file', $event.target.files[0]);
            `/>
        </div>
        <div class="w-full">
            <label for="package_id" class="label" >Package</label>
            <select x-model="$store.stores.item.package_id" class="input w-full mt-1" @change="$store.stores.onFormListChange('package_id', $el.value)">
                <option value="">Select Package</option>
                <template x-for="item in $store.stores.form.packages">
                    <option :value="item.id" x-text="item.name"></option>
                </template>
            </select>
        </div>
        <div class="w-full">
            <label for="user_name" class="label">User Name</label>
            <input type="text" id="user_name" name="user_name" x-model="$store.stores.item.user_name" class="input w-full mt-1" placeholder="User Name" readonly>
        </div>
        <div class="w-full">
            <label for="name" class="label">Store Name</label>
            <input type="text" id="name" name="name" x-model="$store.stores.item.name" class="input w-full mt-1" placeholder="Store Name" required>
        </div>
        <div class="w-full">
            <label for="tagline" class="label">Tagline</label>
            <input type="text" id="tagline" name="tagline" x-model="$store.stores.item.tagline" class="input w-full mt-1" placeholder="Tagline">
        </div>
        <div class="w-full">
            <label for="address" class="label">Address</label>
            <input type="text" id="address" name="address" x-model="$store.stores.item.address" class="input w-full mt-1" placeholder="Address">
        </div>
        <div class="w-full">
            <label for="location" class="label">Location</label>
            <input type="text" id="location" name="location" x-model="$store.stores.item.location" class="input w-full mt-1" placeholder="Location">
        </div>
        <div class="w-full">
            <label for="timings" class="label">Timings</label>
            <input type="text" id="timings" name="timings" x-model="$store.stores.item.timings" class="input w-full mt-1" placeholder="Timings">
        </div>
        <div class="w-full">
            <label for="about" class="label">About</label>
            <textarea id="about" name="about" x-model="$store.stores.item.about" class="input w-full mt-1" placeholder="About"></textarea>
        </div>
        <div class="flex flex-row justify-between items-center">
            <div class="flex flex-row gap-2 items-center mt-2">
                <input id="is_verified" name="is_verified" x-model="$store.stores.item.is_verified" type="checkbox" class="checkbox" class="checkbox" />
                <label for="is_verified" class="label">Verified</label>
            </div>
            <div class="flex flex-row gap-2 items-center mt-2">
                <input id="is_active" name="is_active" x-model="$store.stores.item.is_active" type="checkbox" class="checkbox" class="checkbox" />
                <label for="is_active" class="label">Active</label>
            </div>
        </div>
    </div>
    <div class="divider my-4"></div>
    <div class="flex flex-row justify-between gap-4">
        <button type="button" @click="$store.stores.showDrawer = false;document.getElementById('file').value = '';" class="btn-default">Cancel</button>
        { hasManage && <button type="submit" class="btn-primary" x-text={`${item}.id ? 'Update' : 'Create'`}></button>}
    </div>
</form>