---
import Avatar from "../../../../component/Avatar.astro";
const {item, hasManage} = Astro.props;
---
<form @submit.prevent="$store.subservices.onSave();document.getElementById('file').value = '';">
    <div class="flex flex-col gap-3">
        <Avatar
            id="formImage" 
            name="$store.subservices.item.name" 
            image="$store.subservices.item.image ? `${source}${$store.subservices.item.image}` : blank" 
            folder="subservices" 
            style="xl rounded-lg"
        />
        <div>
            <label for="file" class="label">Image</label>
            <input type="file" id="file" name="file" class="input w-full mt-1" placeholder="Image File" 
            @change=`
                formImage.src = window.URL.createObjectURL($event.target.files[0]);
                $store.subservices.onFormListChange('file', $event.target.files[0]);
            `/>
        </div>
        <div>
            <label class="label">Service</label>
            <select 
                class="input w-full mt-1" 
                :value={`$store.subservices.item.service_id`}
                @change="$store.subservices.onFormListChange('service_id', Number($el.value))">
                <option value=""></option>
                <template x-for={`i in $store.subservices.form.services`}>
                    <option :value="i.id" x-text="i.name"></option>
                </template>
            </select>
        </div>
        <div>
            <label for="name" class="label">Name</label>
            <input id="name" name="name" x-model="$store.subservices.item.name" class="input w-full mt-1" placeholder="SubCategory Name" required />
        </div>        
        <div class="flex flex-row gap-2 items-center">
            <input id="is_active" name="is_active" x-model="$store.subservices.item.is_active" type="checkbox" class="checkbox" class="checkbox" />
            <label for="is_active" class="text">Active</label>
        </div>
    </div>
    <div class="divider my-4"></div>
    <div class="flex flex-row justify-between gap-4">
        <button type="button" @click="$store.subservices.showDrawer = false;document.getElementById('file').value = '';" class="btn-default">Cancel</button>
        { hasManage && <button type="submit" class="btn-primary" x-text={`${item}.id ? 'Update' : 'Create'`}></button>}
    </div>
</form>