---
import LayoutSidebar from '../../../../app/LayoutFull.astro';
import Drawer from "../../../../component/Drawer.astro";
import Pagination from "../../../../component/Pagination.astro";
import Breadcrumb from '../../../../component/Breadcrumb.astro';
import ActionButton from '../../../../component/ActionButton.astro';
import FilterCheckbox from "../../../../component/FilterCheckbox.astro";
import Form from "./form.astro";
const locals = Astro.locals;
const hasManage = locals?.accessCodes?.includes('001.02.05.01');
---
<LayoutSidebar active="questions">
	<Breadcrumb list={[{ name: "Management", link: "management" },{ name: "Questions", link: "" }]}>
		<div class="flex flex-row gap-3">
			<button class="btn-icon white lg" @click="$store.questions.onInit(window.location)"><i class="fas fa-sync-alt"></i></button>
			<button x-show={`${hasManage}`} class="btn-icon active lg" @click="$store.questions.onInsert()">
				<i class="fas fa-plus"></i>
			</button>
			<button class="btn-icon white lg" title="Generate Questions using AI" x-show={`${hasManage}`} @click="$store.questions.onGenerateQuestions()" :disabled="$store.questions.total > 0">
				<i class="fa-solid fa-robot"></i>
			</button>
		</div>
	</Breadcrumb>
	<div class="table-responsive paper mb-2">
		<table class="table">
			<thead>
				<tr>
					<th class="min-w-48">Platform</th>
					<th class="min-w-60">Subject</th>
					<th class="min-w-60">Topic</th>
					<th class="min-w-60">Roadmap</th>
					<th class="min-w-28">Level</th>
					<th class="w-14 text-center">Active</th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<td>
							<select 
								class="input w-full" 
								x-model=`$store.questions.filters.platform_id`
								@change=`
									$store.questions.filters.subject_id = 0;
									$store.questions.filters.topic_id = 0;
									$store.questions.onColumnListChange('platform_id', Number($el.value)); 
									$store.questions.column.subjects = await $store.questions.getSubjects(Number($el.value));
								`>
								<option value="">All</option>
								<template x-for={`i in $store.questions.column.platforms`}>
									<option :value="i.id" x-text="i.name"></option>
								</template>
							</select>
						</td>
						<td>
							<select 
								class="input w-full" 
								x-model=`$store.questions.filters.subject_id`
								@change=`
									$store.questions.filters.topic_id = 0;
									$store.questions.onColumnListChange('subject_id', Number($el.value)); 
									$store.questions.column.topics = await $store.questions.getTopics(Number($el.value));
								`>
								<option value="">All</option>
								<template x-for={`i in $store.questions.column.subjects`}>
									<option :value="i.id" x-text="i.name"></option>
								</template>
							</select>
						</td>
						<td>
							<select 
								class="input w-full" 
								x-model=`$store.questions.filters.topic_id`
								@change=`
									$store.questions.filters.roadmap_id = 0;
									$store.questions.onColumnListChange('topic_id', Number($el.value)); 
									$store.questions.column.roadmaps = await $store.questions.getRoadmaps(Number($el.value));
								`>
								<option value="">All</option>
								<template x-for={`i in $store.questions.column.topics`}>
									<option :value="i.id" x-text="i.name"></option>
								</template>
							</select>
						</td>
						<td>
							<select 
								class="input w-full" 
								x-model=`$store.questions.filters.roadmap_id`
								@change=`$store.questions.onColumnListChange('roadmap_id', Number($el.value))`>
								<option value="">All</option>
								<template x-for={`i in $store.questions.column.roadmaps`}>
									<option :value="i.id" x-text="i.name"></option>
								</template>
							</select>
						</td>
						<td>
							<select 
								class="input w-full" 
								x-model=`$store.questions.filters.l`
								@change=`$store.questions.onColumnListChange('l', $el.value)`>
								<option value="">All</option>
								<template x-for={`i in $store.questions.column.levels`}>
									<option :value="i.id" x-text="i.name"></option>
								</template>
							</select>
						</td>
						<td>
							<FilterCheckbox storeName="questions" column="is_active"/>
						</td>
					</tr> 
			</tbody>
		</table>
	</div>
	<div class="table-responsive paper">
		<table class="table strip">
			<tbody x-show="$store.questions.items.length > 0">
				<template x-for="r in $store.questions.items" :key="r.id">
					<tr>
						<td x-show={`${hasManage}`} class="flex justify-center">
							<ActionButton position="top" show={`r.showAction`} 
								actions={[
									{ label: 'Edit', click: `$store.questions.onEdit(r)`, show: hasManage },
									{ label: 'Delete', click: `$store.questions.onDelete({ id: r.id, name: r.q })`, show: hasManage },
									{ label: 'Copy ID', click: `$store.questions.copyId(r.id)`, show: hasManage }
								]} 
							/>
						</td>						
						<td class="w-full">
							<p class="mb-2 text-lg font-semibold text-gray-900" x-text="r.q"></p>
							<ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside">
								<template x-for="(option, index) in r.o">
									<li x-text="option" :class="index === r.a ? 'font-bold text-green-600' : ''"></li>
								</template>
							</ol>
							<div class="mt-2">
								<b>Explanation:</b>
								<i class=" text-pretty" x-text="r.e"></i>
							</div>
						</td>
					</tr> 
				</template>    
			</tbody>
		</table>
	</div>
	<div class="spacer"></div>
	<Pagination storeName="questions" />
	<Drawer item="$store.questions.item" title="Subject" showDrawer="$store.questions.showDrawer">
		<Form item="$store.questions.item" hasManage={hasManage} />
	</Drawer>
</LayoutSidebar>
